<div ng-include="'views/partials/nav.html'"></div>

<div class="container text-center">
    <h1 class="title head">Ceremony and Reception</h1>
    <br>
    <div class="col-md-6">
        <img class="hotel" src="../images/ceremony.jpg">
        <br>
        <br>
        <br>
        <img class="hotel" src="../images/reception.jpg">
    </div>
    <div class="container ceremony">
        <p>
            The Ceremony will be taking place at Caesar's Palace at 6pm in the Juno Garden.
        </p>
        <p class="move">
            Please arrive by 5:45pm, as the Ceremony will be from 6-6:30pm.
        </p>
        
        <div class="container reception">
            <p class="ceremony">
                The Reception will take place at 8pm until 1am at the Virginia City Ball Room at the Flamingo.
            </p>
            <br>
            
            <p class="move">
                Cocktail Hour will begin right away at 8. Dinner will be served at 9.
            </p>
           
        </div>
    </div>
</div>