<div ng-include="'views/partials/nav.html'"></div>

<div>
    <h1>Ceremony</h1>
    <p>
        The Ceremony will be taking place at Caesar's Palace at 6pm in the Juno Garden.
    </p>
    <p>
        Please arrive by 5:45pm, as the Ceremony will be from 6-6:30pm.
    </p>
</div>

<div>
    <h1>Reception</h1>
    <p>
        The Reception will take place at 8pm at the Virginia City Ball Room at the Flamingo.
    </p>
    <p>
        Cocktails will begin right away and be open from 8-11pm. Dinner will be served at 9.
    </p>
</div>