<div ng-include="'views/partials/nav.html'"></div>

<div class="container text-center">
    <h1 class="title head">Ceremony and Reception</h1>
    <br>
    <div class="col-md-6">
        <img class="hotel photo img-rounded" src="../images/ceremony.jpg">
    </div>
    <div class="col-md-6">
        <p>
            The Ceremony will be taking place at Caesar's Palace at 6pm in the Juno Garden.
        </p>
        <p>
            Please arrive by 5:45pm, as the Ceremony will be from 6-6:30pm.
        </p>
    </div>
</div>
<div class="container text-center">
    <div class="col-md-6">
        <img class="hotel photo img-rounded" src="../images/reception.jpg">
    </div>
    <div class="col-md-6">
        <p>
            The Reception will take place at 7:30pm until 12:30am at the Virginia City Ball Room at the Flamingo.
        </p>
        <p>
            Cocktail Hour will begin right away at 7:30. Dinner will be served at 8:30.
        </p>
    </div>
</div>


