<div ng-include="'views/partials/nav.html'"></div>

<div class="jumbotron pic"></div>

<div class="text-center">
    <div class="container two">
        <div>
            <h1 class="title">Greg Wallerus</h1>
        </div>
        <h1 class="title">And</h1>
        <div>
            <h1 class="title">Ivonne Manay</h1>
        </div>
        <br>
        <br>
        <br>
        <br>
        <div>
            <h1 class="title">Are Getting Married</h1>
        </div>
        <br>
        <br>
        <br>
        <br>
        <div>
            <h1 class="title">August 11th, 2018</h1>
        </div>
        <div>
            <h1 class="title">Las Vegas, Nevada</h1>
        </div>

    </div>
</div>