<div ng-include="'views/partials/nav.html'"></div>

<div class="jumbotron pic"></div>

<div class="text-center">
    <div class="container two">
        <div>
            <h1 class="title">Greg Wallerus</h1>
        </div>
        <h1 class="title">And</h1>
        <div>
            <h1 class="title">Ivonne Manay</h1>
        </div>
        <br>
        <div>
            <h1 class="title">Are Getting Married</h1>
        </div>
        <br>
        <div>
            <h1 class="title">August 11th, 2018</h1>
        </div>
        <div>
            <h1 class="title">Las Vegas, Nevada</h1>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div>
            <h1 class="title">How They Met</h1>
            <h2 class="title">Ivonne and Greg met through a mutual friend in January of 2016 and hit it off right away.</h2>
            <h2 class="title">After a few of months of dating, several trips, and lots of dancing, they made it official and the rest is history!
            </h2>
        </div>
        <div>
            <h2 class="title">They hope you can join them in their special day!</h2>
            <h2 class="title">And look forward to celebrating with friends and family.</h2>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div>
            <h1 class="title">The Proposal</h1>
            <h2 class="title">Ivonne and Greg traveled to Spain over the holidays and spent a night at a vinyard called
                <a target="_blank"
                    href="http://www.lagarisilla.es/">El Lagar De Isilla.</a>
            </h2>
            <h2 class="title">Greg had been planning to propose about a month before trip and took Ivonne out to a fancy dinner. Back at the
                hotel room, he put on their song
                <a target="_blank" href="https://www.youtube.com/watch?v=3gAJWGYRHVU">"Hero"</a>
            </h2>
        </div>


    </div>
</div>