<div ng-include="'views/partials/nav.html'"></div>

<div class="jumbotron pic"></div>

<div class="text-center">
    <div class="container two">
        <div>
            <h1 class="title head">Greg Wallerus</h1>
        </div>
        <h1 class="title head">And</h1>
        <div>
            <h1 class="title head">Ivonne Manay</h1>
        </div>
        <br>
        <div>
            <h1 class="title head">Are Getting Married</h1>
        </div>
        <br>
        <div>
            <h1 class="title head">August 11th, 2018</h1>
        </div>
        <div>
            <h1 class="title head">Las Vegas, Nevada</h1>
        </div>
        <br>
        <br>
        <br>
        <br>
        <div>
            <h1 class="title head">How They Met</h1>
            <p class="title">Ivonne and Greg met through a mutual friend in January of 2016 and hit it off right</p>
            <p class="title">away.</h2>
            <p class="title">After a few of months of dating, several trips, and lots of dancing, they made it official</p>
            <p class="title">and the rest is history!</h2>
            </p>
        </div>
        <div>
            <p class="title">They hope you can join them in their special day!</p>
            <p class="title">And look forward to celebrating with friends and family.</p>
        </div>
        <br>
        <br>
        <br>
        <br>
        <div>
            <h1 class="title head">The Proposal</h1>
            <p class="title">Ivonne and Greg traveled to Spain over the holidays and spent a night at a vinyard</p>
                <p class="title">called
                    <a target="_blank" href="http://www.lagarisilla.es/">El Lagar De Isilla.</a>
                </h2>
                <p class="title">Greg had been planning the proposal for about a month before the trip and</p>
                <p class="title">proceeded to take Ivonne out to a fancy dinner.</h2>
                <p class="title">Back at the hotel room, he put on their song
                    <a target="_blank" href="https://www.youtube.com/watch?v=3gAJWGYRHVU">"Hero"</a>
                </p>
                <p class="title">and at the end of the song,</p>
                <p class="title">Greg got down on one knee and she was super excited.</p>
                <p class="title">They stayed up late drinking wine after that watching the Facebook "likes" come in.
                </p>
        </div>
        <br>
        <br>
        <br>
        <br>
        <div>
            <img class="bodega" src="../images/wine.jpeg">
            <img class="bodega" src="../images/ring.jpg">
        </div>


    </div>
</div>