<div ng-include="'views/partials/nav.html'"></div>

<div class="text-center">
    <h1 class="title">Hotel Options</h1>
    <p>
        There will be a block of rooms reserved at the Flamingo Hotel.
    </p>
    <p>
        Please call 800-264-0744 and ask for a room under the Wallerus-Manay Wedding, code CCWED.
    </p>
    <p>
        Otherwise it is Vegas so feel free to choose a hotel of your liking as well!
        (Wedding code will work at any Caesar's property)
    </p>
    <br>
    <img src="https://media-cdn.tripadvisor.com/media/photo-s/0d/0e/98/db/exterior-view.jpg">
    
</div>
<br>
<br>
<div class="text-center">
    <a href="https://www.caesars.com/flamingo-las-vegas">Flamingo Homepage</a>
</div>

