<div ng-include="'views/partials/nav.html'"></div>

<div class="container text-center">
    <h1 class="title head">Hotel Options</h1>
    <br>
    <div class="col-md-6">
        <img class="hotel" src="https://media-cdn.tripadvisor.com/media/photo-s/0d/0e/98/db/exterior-view.jpg">
        <br>
        <br>
        <br>
        <img class="hotel" src="../images/caesar.jpg">
    </div>
    <div class="container words">
        <p>
            There will be a block of rooms reserved at the Flamingo Hotel.
        </p>
        <p>
            Please call 800-264-0744 and ask for a room under the Wallerus-Manay Wedding, code CCWED.
        </p>
        <p class="hotels">
            <a target="_blank" href="https://www.caesars.com/flamingo-las-vegas">The Flamingo</a>
        </p>
        <div class="container other">
            <p>
                Otherwise it is Vegas so feel free to choose a hotel of your liking as well! (Wedding code will work at any Caesar's property)
            </p>
            <div>
                <p class="hotels">
                    <a target="_blank" href="https://www.caesars.com/ballys-las-vegas">Bally’s</a>
                </p>
                <p class="hotels">
                    <a target="_blank" href="https://www.caesars.com/linq">The Linq</a>
                </p>
                <p class="hotels">
                    <a target="_blank" href="https://www.caesars.com/harrahs-las-vegas">Harrah's</a>
                </p>
                <p class="hotels">
                    <a target="_blank" href="https://www.caesars.com/">Caesars Palace</a>
                </p>
                <p class="hotels">
                    <a target="_blank" href="https://www.caesars.com/planet-hollywood">Planet Hollywood</a>
                </p>
            </div>
        </div>
    </div>
</div>