<div ng-include="'views/partials/nav.html'"></div>

<div class="container text-center">
    <h1 class="title head">Hotel Options</h1>
    <br>
    <div class="col-md-6 col-xs-12">
        <img class="hotel photo img-rounded" src="https://media-cdn.tripadvisor.com/media/photo-s/0d/0e/98/db/exterior-view.jpg">
    </div>
    <div class="col-md-6 col-xs-12">
        <p>
            There will be a block of rooms reserved at the Flamingo Hotel.
        </p>
        <p>
            Please click the link below to book a room or call 888-373-9855 and ask
            <p>
                for a room under group name Wallerus Wedding and group code VF3WAL8.
            </p>
            <p class="small-font">
                (They charge $15 to book over the phone so I reccommend booking online)
            </p>
        </p>
        <p class="hotels">
            <a target="_blank" href="https://www.totalrewards.com/reserve/?propCode=FLV&action=FindRooms&groupcode=VF3WAL8">Book at Flamingo</a>
        </p>
    </div>
</div>

<div class="container text-center">
    <div class="col-md-6 col-xs-12">
        <img class="hotel photo img-rounded" src="../images/caesar.jpg">
    </div>
    <div class="col-md-6 col-xs-12">
        <p>
            Otherwise it is Vegas so feel free to choose a hotel of your liking as well!
        </p>
        <p>
            You can also call 800-264-0744 if you want to choose another location.
        </p>
        <p class="small-font">(Wedding code CCWED will work at any of the other Caesar's properties)</p>

        <p class="hotels">
            <a target="_blank" href="https://www.caesars.com/ballys-las-vegas">Bally’s</a>
        </p>
        <p class="hotels">
            <a target="_blank" href="https://www.caesars.com/linq">The Linq</a>
        </p>
        <p class="hotels">
            <a target="_blank" href="https://www.caesars.com/harrahs-las-vegas">Harrah's</a>
        </p>
        <p class="hotels">
            <a target="_blank" href="https://www.caesars.com/">Caesars Palace</a>
        </p>
        <p class="hotels">
            <a target="_blank" href="https://www.caesars.com/planet-hollywood">Planet Hollywood</a>
        </p>
    </div>
</div>