<div ng-include="'views/partials/nav.html'"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"></div>
        <img class="hotel photo" src="../images/newyear.jpg">
        <img class="hotel photo" src="../images/chino-latino.jpg">
        <img class="hotel photo" src="../images/family.jpg">
        <img class="hotel photo" src="../images/france.jpg">
        <img class="hotel photo" src="../images/family1.jpg">
        <img class="hotel photo" src="../images/spain-park.jpg">
        <img class="hotel photo" src="../images/spain-park2.jpg">
        <img class="hotel photo" src="../images/Spain1.jpg">
        <img class="hotel photo" src="../images/Spain2.jpg">
        <!-- <img class="hotel photo" src="../images/superbowl.jpg">
        <img class="hotel photo" src="../images/superbowl.jpg">
        <img class="hotel photo" src="../images/superbowl.jpg"> -->
    </div>
    </div>

</div>