<div ng-include="'views/partials/nav.html'"></div>

<h1 class="text-center title">Please Let us know ASAP if you are attending!</h1>

<div class="text-center">
    <h2 class="title">Your Name(s)</h2>
    <div>
        <input class="input" type="text" placeholder="Name" ng-model="wc.nameIn">
        <br>
        <br>
        <input class="input" type="text" placeholder="Name" ng-model="wc.guestIn">
    </div>
    <div>
        <h2 class="title">Attending?</h2>
        <input type="radio" value="Yes" ng-model="wc.attendIn"> Yes
        <br>
        <input id="attend" type="radio" value="No" ng-model="wc.attendIn"> No
        <br>
    </div>
    <div>
        <h2 class="title">Meal Choice</h2>
        <input type="radio" value="Chicken" ng-model="wc.mealIn"> Chicken
        <br>
        <input class="radios" type="radio" value="Steak" ng-model="wc.mealIn"> Steak
        <br>
    </div>
    <div>
        <h2 class="title">Meal Choice</h2>
        <input type="radio" value="Chicken" ng-model="wc.mealGuest"> Chicken
        <br>
        <input class="radios" type="radio" value="Steak" ng-model="wc.mealGuest"> Steak
        <br>
    </div>
    <br>
    <button class="btn btn-primary" ng-click="wc.rsvp()">Submit</button>
</div>
<br>
<div class="container text-center boxx">
    <h2 class="title">Williams Sonoma Registry. Click
        <a target="_blank" href="https://www.williams-sonoma.com/registry/x7wvh78q2g/registry-list.html">Here</a> to View</h2>
        <h2 class="title">Macys Registry. Click
            <a target="_blank" href="https://www.macys.com/wgl/registry/guest/6946455">Here</a> to View</h2>
</div>