<div ng-include="'views/partials/nav.html'"></div>
<h1 class="title text-center"><u>Groomsmen</u></h1>
<p class="text-center party1">
    <a href="#/WeddingParty2">Bridesmaids</a>
</p>

<main>
    <div class="container one">
        <div ng-repeat="image in wc.images" class="col-md-6 col-xs-12">
            <h1 class="title text-center">{{image.title}}</h1>
            <img class="party img-rounded" ng-src="{{image.picture}}">
            <p class="text-center">{{image.description}}</p>
        </div>
    </div>
</main>