<div class="navbar" ng-controller="WeddingController as wc">
    <div class="container text-center">
        <ul>
            <li class="text-center">
                <a href="#/home">Home</a>
            </li>
            <li>
                <a href="#/hotel">Accomodations</a>
            </li>
            <li>
                <a href="#/WeddingParty">The Wedding Party</a>
            </li>
            <li>
                <a href="#/contact">Ceremony & Reception</a>
            </li>
            <li>
                <a href="#/rsvp">RSVP</a>
            </li>
        </ul>
    </div>
</div>