<div class="navbar" ng-controller="WeddingController as wc">
    <div class="container text-center">
        <ul>
            <li class="text-center">
                <a href="#/home">Home</a>
            </li>
            <li>
                <a href="#/Hotel">Accomodations</a>
            </li>
            <li>
                <a href="#/WeddingParty">The Wedding Party</a>
            </li>
            <li>
                <a href="#/Reception">Ceremony & Reception</a>
            </li>
            <li>
                <a href="#/Photos">Photos</a>
            </li>
            <li>
                <a href="#/Registry">Registry</a>
            </li>
            <li>
                <a href="#/RSVP">RSVP</a>
            </li>
        </ul>
    </div>
</div>